body {
  font-family: sans-serif;
}

.heading {
  text-align: center;
  /* border: solid red 1px; */
  width: 700px;
  margin: 10px auto;
}

.container {
  /* border: solid red 1px; */
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-color: #e4e4e4;
  padding-top: 30px;
  box-shadow: 1px 1px 10px black;
}

label {
  font-size: 1.2em;
  /* border: solid red 1px; */
  display: block;
  text-align: center;
  color: #64aa91;
}

input {
  display: block;
  margin: auto;
  min-height: 30px;
  min-width: 300px;
  border: none;
}

#search_button,
#clearResults {
  display: block;
  margin: 10px auto;
  border: none;
  background-color: #64aa91;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
}
